$color-white: #f5f5f5;
$color-black: #000;
$color-logo: #31434F;

$color-bg1: #312c29;
$color-bg2: #241e1a;
$color-bg3: #e09545;
$color-text: rgba(255, 255, 255, 0.72);
$color-text2: rgba(255, 255, 255, 0.56);
$color-text3: rgba(255, 255, 255, 0.8);
$color-value: #f3e7d7;

$main-border-radius: 20px;
$color-bg-btn:rgba(111, 98, 70, 0.12);